In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re
import csv

In [3]:
df = pd.read_csv("pune_nashik_combined2.csv")

In [41]:
df.shape

(648, 13)

In [42]:
df.columns.tolist()

['Locality',
 'Title',
 'Price_Rs',
 'Furnishing',
 'Bathrooms',
 'Carpet_Area_sqft',
 'Floor_No',
 'BHK',
 'Property_Type',
 'Listing_Type',
 'Society',
 'City',
 'Price_per_sqft']

In [43]:
df.head(5)

,Locality,Title,Price_Rs,Furnishing,Bathrooms,Carpet_Area_sqft,Floor_No,BHK,Property_Type,Listing_Type,Society,City,Price_per_sqft
0,Wakad,"2 BHK Flat for Rent in Anshul Casa, Wakad, Pune",33000.0,Furnished,2.0,789.0,2.0,2.0,Flat,Rent,Anshul Casa,Pune,41.83
1,Wakad,"2 BHK Flat for Rent in Nandan Inspera, Wakad, ...",28000.0,Semi-Furnished,2.0,852.0,7.0,2.0,Flat,Rent,Nandan Inspera,Pune,32.86
2,Wakad,"2 BHK Flat for Rent in Nandan Inspera, Wakad, ...",35000.0,Semi-Furnished,3.0,950.0,2.0,2.0,Flat,Rent,Nandan Inspera,Pune,36.84
3,Wakad,"2 BHK Flat for Rent in Bhandari Latitude, Waka...",32000.0,Semi-Furnished,2.0,940.0,2.0,2.0,Flat,Rent,Bhandari Latitude,Pune,34.04
4,Wakad,"3 BHK Flat for Rent in Kalpataru Exquisite, Wa...",36000.0,Semi-Furnished,2.0,1040.0,8.0,3.0,Flat,Rent,Kalpataru Exquisite,Pune,34.62

In [44]:
df.tail(5)

,Locality,Title,Price_Rs,Furnishing,Bathrooms,Carpet_Area_sqft,Floor_No,BHK,Property_Type,Listing_Type,Society,City,Price_per_sqft
643,Jaikumar Parksyde Homes,3 BHK Flat for Rent in Jaikumar Parksyde Homes...,20000.0,Furnished,3.0,NaN,6.0,3.0,Flat,Rent,NaN,Panchvati Nashik,NaN
644,Nayantara Presidency,"2 BHK Flat for Rent in Nayantara Presidency, M...",16000.0,Unfurnished,2.0,780.0,4.0,2.0,Flat,Rent,NaN,Mumbai Agra National Highway Nashik,20.51
645,Jaikumar Parksyde Homes,3 BHK Flat for Rent in Jaikumar Parksyde Homes...,18500.0,Unfurnished,3.0,900.0,6.0,3.0,Flat,Rent,NaN,Panchvati Nashik,20.56
646,Perfect Green Mind,"2 BHK Flat for Rent in Perfect Green Mind, Dwa...",30000.0,Furnished,2.0,750.0,5.0,2.0,Flat,Rent,NaN,Dwarka Nashik,40.00
647,Parksyde Nest,"2 BHK Flat for Rent in Parksyde Nest, Panchvat...",13000.0,Unfurnished,2.0,980.0,6.0,2.0,Flat,Rent,NaN,Panchvati Nashik,13.27

In [45]:
df.info()             # dtypes + non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 648 entries, 0 to 647
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Locality          621 non-null    object
 1   Title             648 non-null    object
 2   Price_Rs          645 non-null    float64
 3   Furnishing        645 non-null    object
 4   Bathrooms         645 non-null    float64
 5   Carpet_Area_sqft  519 non-null    float64
 6   Floor_No          634 non-null    float64
 7   BHK               644 non-null    float64
 8   Property_Type     644 non-null    object
 9   Listing_Type      648 non-null    object
 10  Society           366 non-null    object
 11  City              648 non-null    object
 12  Price_per_sqft    518 non-null    float64
dtypes: float64(6), object(7)
memory usage: 65.9+ KB

In [46]:
df.describe(include='all')  # stats summary

,Locality,Title,Price_Rs,Furnishing,Bathrooms,Carpet_Area_sqft,Floor_No,BHK,Property_Type,Listing_Type,Society,City,Price_per_sqft
count,621,648,645.000000,645,645.000000,519.000000,634.000000,644.000000,644,648,366,648,518.000000
unique,71,381,NaN,3,NaN,NaN,NaN,NaN,2,1,211,41,NaN
top,Gangapur Road,"2 BHK Flat for Rent in Gangapur Road, Nashik",NaN,Unfurnished,NaN,NaN,NaN,NaN,Flat,Rent,Kolte Patil Life Republic,Pune,NaN
freq,46,14,NaN,235,NaN,NaN,NaN,NaN,633,648,11,300,NaN
mean,NaN,NaN,26146.902326,NaN,2.398450,1136.111753,5.720820,2.459627,NaN,NaN,NaN,NaN,28.971931
std,NaN,NaN,16542.042684,NaN,0.902549,675.218688,4.178026,0.790643,NaN,NaN,NaN,NaN,20.612273
min,NaN,NaN,1.000000,NaN,1.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,0.000000
25%,NaN,NaN,16000.000000,NaN,2.000000,800.000000,3.000000,2.000000,NaN,NaN,NaN,NaN,16.935000
50%,NaN,NaN,23000.000000,NaN,2.000000,950.000000,5.000000,2.000000,NaN,NaN,NaN,NaN,26.670000
75%,NaN,NaN,35000.000000,NaN,3.000000,1250.000000,7.000000,3.000000,NaN,NaN,NaN,NaN,38.950000
max,NaN,NaN,95000.000000,NaN,6.000000,5000.000000,25.000000,5.000000,NaN,NaN,NaN,NaN,250.000000

In [47]:
df['Locality'].value_counts().head(5)

Locality
Gangapur Road    46
Indira Nagar     38
Govind Nagar     32
Wagholi          30
Wakad            30
Name: count, dtype: int64

In [48]:
df.columns = [c.strip().replace(' ', '_') for c in df.columns]
df.columns

Index(['Locality', 'Title', 'Price_Rs', 'Furnishing', 'Bathrooms',
       'Carpet_Area_sqft', 'Floor_No', 'BHK', 'Property_Type', 'Listing_Type',
       'Society', 'City', 'Price_per_sqft'],
      dtype='object')

In [49]:
df.isna().sum()

Locality             27
Title                 0
Price_Rs              3
Furnishing            3
Bathrooms             3
Carpet_Area_sqft    129
Floor_No             14
BHK                   4
Property_Type         4
Listing_Type          0
Society             282
City                  0
Price_per_sqft      130
dtype: int64

In [50]:
# fill missing Furnishing with 'Unknown'
df['Furnishing'] = df['Furnishing'].fillna('Unknown')

# drop rows where Price is missing
df = df.dropna(subset=['Price_Rs'])

In [51]:
df.isna().sum()

Locality             27
Title                 0
Price_Rs              0
Furnishing            0
Bathrooms             1
Carpet_Area_sqft    127
Floor_No             12
BHK                   2
Property_Type         2
Listing_Type          0
Society             281
City                  0
Price_per_sqft      127
dtype: int64

In [52]:
df = df.dropna(subset=['Locality','Carpet_Area_sqft','Floor_No'])

In [53]:
df.isna().sum()

Locality              0
Title                 0
Price_Rs              0
Furnishing            0
Bathrooms             0
Carpet_Area_sqft      0
Floor_No              0
BHK                   2
Property_Type         2
Listing_Type          0
Society             205
City                  0
Price_per_sqft        0
dtype: int64

In [54]:
df.shape

(493, 13)

In [55]:
df[df['BHK'].isna()]

,Locality,Title,Price_Rs,Furnishing,Bathrooms,Carpet_Area_sqft,Floor_No,BHK,Property_Type,Listing_Type,Society,City,Price_per_sqft
105,Wagholi,"Studio Apartment for Rent in Wagholi, Pune",24000.0,Furnished,1.0,250.0,7.0,NaN,NaN,Rent,NaN,Pune,96.00
125,Baner,Studio Apartment for Rent in Blue Pearl 34 Wes...,24000.0,Furnished,1.0,279.0,3.0,NaN,NaN,Rent,Blue Pearl 34 Western Pavillion,Pune,86.02

In [56]:
# Fill BHK from title
df['BHK'] = df['BHK'].fillna(df['Title'].str.extract(r'(\d+)\s*BHK')[0])

# Fill Property Type from title
df['Property_Type'] = df['Property_Type'].fillna(df['Title'].str.extract(r'(Studio Apartment|1 RK|Apartment|Flat|Bungalow)', expand=False))

C:\Users\lenov\AppData\Local\Temp\ipykernel_16760\2961538778.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['BHK'] = df['BHK'].fillna(df['Title'].str.extract(r'(\d+)\s*BHK')[0])

In [57]:
df[['BHK','Property_Type']].isna().sum()

BHK              2
Property_Type    0
dtype: int64

In [58]:
df['BHK'] = df['BHK'].fillna(df['BHK'].mode()[0])

In [59]:
df[['BHK','Property_Type']].isna().sum()

BHK              0
Property_Type    0
dtype: int64

In [60]:
df.loc[[105,125]]

,Locality,Title,Price_Rs,Furnishing,Bathrooms,Carpet_Area_sqft,Floor_No,BHK,Property_Type,Listing_Type,Society,City,Price_per_sqft
105,Wagholi,"Studio Apartment for Rent in Wagholi, Pune",24000.0,Furnished,1.0,250.0,7.0,2.0,Studio Apartment,Rent,NaN,Pune,96.00
125,Baner,Studio Apartment for Rent in Blue Pearl 34 Wes...,24000.0,Furnished,1.0,279.0,3.0,2.0,Studio Apartment,Rent,Blue Pearl 34 Western Pavillion,Pune,86.02

In [71]:
df = df.drop(columns=['Society','Property_Type','Listing_Type','Title'])

In [80]:
df

,Locality,Price_Rs,Furnishing,Bathrooms,Carpet_Area_sqft,Floor_No,BHK,City,Price_per_sqft
0,Wakad,33000,Furnished,2,789,2,2,Pune,41.83
1,Wakad,28000,Semi-Furnished,2,852,7,2,Pune,32.86
2,Wakad,35000,Semi-Furnished,3,950,2,2,Pune,36.84
3,Wakad,32000,Semi-Furnished,2,940,2,2,Pune,34.04
4,Wakad,36000,Semi-Furnished,2,1040,8,3,Pune,34.62
...,...,...,...,...,...,...,...,...,...
642,Parksyde Nest,16000,Unfurnished,3,900,11,3,Panchvati Nashik,17.78
644,Nayantara Presidency,16000,Unfurnished,2,780,4,2,Mumbai Agra National Highway Nashik,20.51
645,Jaikumar Parksyde Homes,18500,Unfurnished,3,900,6,3,Panchvati Nashik,20.56
646,Perfect Green Mind,30000,Furnished,2,750,5,2,Dwarka Nashik,40.00
647,Parksyde Nest,13000,Unfurnished,2,980,6,2,Panchvati Nashik,13.27

In [63]:
df.dtypes

Locality             object
Title                object
Price_Rs            float64
Furnishing           object
Bathrooms           float64
Carpet_Area_sqft    float64
Floor_No            float64
BHK                 float64
Property_Type        object
Listing_Type         object
City                 object
Price_per_sqft      float64
dtype: object

In [64]:
df['Carpet_Area_sqft'] = df['Carpet_Area_sqft'].astype(int)
df['Floor_No'] = df['Floor_No'].astype(int)
df['BHK'] = df['BHK'].astype(int)
df['Bathrooms'] = df['Bathrooms'].astype(int)

In [65]:
df.dtypes

Locality             object
Title                object
Price_Rs            float64
Furnishing           object
Bathrooms             int64
Carpet_Area_sqft      int64
Floor_No              int64
BHK                   int64
Property_Type        object
Listing_Type         object
City                 object
Price_per_sqft      float64
dtype: object

,Locality,Price_Rs,Furnishing,Bathrooms,Carpet_Area_sqft,Floor_No,BHK,City,Price_per_sqft
0,Wakad,33000,Furnished,2,789,2,2,Pune,41.83
1,Wakad,28000,Semi-Furnished,2,852,7,2,Pune,32.86
2,Wakad,35000,Semi-Furnished,3,950,2,2,Pune,36.84
3,Wakad,32000,Semi-Furnished,2,940,2,2,Pune,34.04
4,Wakad,36000,Semi-Furnished,2,1040,8,3,Pune,34.62
...,...,...,...,...,...,...,...,...,...
642,Parksyde Nest,16000,Unfurnished,3,900,11,3,Panchvati Nashik,17.78
644,Nayantara Presidency,16000,Unfurnished,2,780,4,2,Mumbai Agra National Highway Nashik,20.51
645,Jaikumar Parksyde Homes,18500,Unfurnished,3,900,6,3,Panchvati Nashik,20.56
646,Perfect Green Mind,30000,Furnished,2,750,5,2,Dwarka Nashik,40.00
647,Parksyde Nest,13000,Unfurnished,2,980,6,2,Panchvati Nashik,13.27

In [ ]:
def convert_price(x):
    x = float(x)
    if x < 1000:  
        return x * 100000  # convert lakh to rupees
    else:
        return x           # already in rupees

df['Price_Rs'] = df['Price_Rs'].apply(convert_price).astype(int)

In [84]:
df['Price_per_sqft'] = df['Price_Rs'] / df['Carpet_Area_sqft']
df['Price_per_sqft'] = df['Price_per_sqft'].round(2)

In [93]:
# Arangement of columns 
df = df[['Locality','City','BHK','Price_Rs','Price_per_sqft','Carpet_Area_sqft','Floor_No','Bathrooms','Furnishing']]

In [102]:
# Changing the column name
df = df.rename(columns={'Price_Rs':'Rent'})
df = df.rename(columns={'Price_per_sqft':'Rent_per_sqft'})

In [103]:
df.to_csv('pune_nashik_combined2.csv', index=False)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493 entries, 0 to 492
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Locality          493 non-null    object
 1   City              493 non-null    object
 2   BHK               493 non-null    int64
 3   Rent              493 non-null    int64
 4   Rent_per_sqft     493 non-null    float64
 5   Carpet_Area_sqft  493 non-null    int64
 6   Floor_No          493 non-null    int64
 7   Bathrooms         493 non-null    int64
 8   Furnishing        493 non-null    object
dtypes: float64(1), int64(5), object(3)
memory usage: 34.8+ KB

In [105]:
df

,Locality,City,BHK,Rent,Rent_per_sqft,Carpet_Area_sqft,Floor_No,Bathrooms,Furnishing
0,Wakad,Pune,2,33000,41.83,789,2,2,Furnished
1,Wakad,Pune,2,28000,32.86,852,7,2,Semi-Furnished
2,Wakad,Pune,2,35000,36.84,950,2,3,Semi-Furnished
3,Wakad,Pune,2,32000,34.04,940,2,2,Semi-Furnished
4,Wakad,Pune,3,36000,34.62,1040,8,2,Semi-Furnished
...,...,...,...,...,...,...,...,...,...
642,Parksyde Nest,Panchvati Nashik,3,16000,17.78,900,11,3,Unfurnished
644,Nayantara Presidency,Mumbai Agra National Highway Nashik,2,16000,20.51,780,4,2,Unfurnished
645,Jaikumar Parksyde Homes,Panchvati Nashik,3,18500,20.56,900,6,3,Unfurnished
646,Perfect Green Mind,Dwarka Nashik,2,30000,40.00,750,5,2,Furnished
647,Parksyde Nest,Panchvati Nashik,2,13000,13.27,980,6,2,Unfurnished

In [ ]:
# remove areas and keep only city name
df['City'] = df['City'].str.split().str[-1]

# save new updated file
df.to_csv("pune_nashik_combined2.csv", index=False)