In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re
import csv

In [2]:

url = 'https://www.magicbricks.com/property-for-rent/residential-real-estate?bedroom=&proptype=Multistorey-Apartment,Builder-Floor-Apartment,Penthouse,Studio-Apartment,Service-Apartment&Locality=Wakad&cityName=Pune'
headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
    }
response = requests.get(url,headers = headers)

soup = BeautifulSoup(response.text, "html.parser")

In [4]:
response

In [3]:
soup.text[:2000]

'\n\n\n\n\n\n\n\nFlats for Rent in Wakad, Pune - 805+ Apartments\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\xa0BuyPopular ChoicesReady to MoveBudget HomesNew Projects NEWProperty TypesFlats in PuneHouse for sale in PuneVilla in PuneProperty in PuneAgriculture Land for Sale in PuneShop for sale in PuneBudgetExploreLocalities in PuneProjects in PuneInvestment HotspotFind an AgentBuying ToolsPropWorthRates & TrendsBuy vs RentTips and GuidesRentPopular ChoicesFurnished HomesProperty TypesFlat for rent in PuneHouse for rent in PuneVilla for rent in PunePG in PuneOffice Space in PuneHostels in PuneRoom for Rent in PuneBudgetExploreShare RequirementProperty ServicesRent AgreementSellFor Owner+91 9870 260 930 / Email UsFor Agent & Builder0120-5135525Selling ToolsHome LoansUseful LinksHome LoanHome Loan EMI CalculatorHome Loan Eligibility CalculatorHome Loan Interest RateSign in to get a personalised feed!LoginHome InteriorsMB Advice NewHelpExplore our servicesHome Interior Design ServicesPost Property FreeShortlistLogin to View your shortlisted PropertiesTap on  to shortlistLoginMy ActivityRequested Properties NewView ResponseManage PropertiesMagicDiaryManage AlertsiAdvantageLoginNew to Magicbricks? Sign UpRent ResidentialBuyRentPGCommercialBuyLeaseWakadDoneTop LocalitiesTop Localities DoneBudgetBudget DoneProperty TypeProperty Type DoneBHKBHK DonePosted ByPosted By DoneMore FiltersClear AllView 805 PropertiesHomeFlats for Rent in PuneFlats for Rent in WakadProperties (805) Top AgentsSort by: RelevanceRelevancePrice - Low to HighPrice - High to LowMost RecentRate/sqft - Low to HighRate/sqft - High to Low805 results | Flats for Rent in Wakad, Pune\nAdd Budget for better results 3+ PhotosPosted: TodayAgent: Mishra PropertiesOperating Since: 20172 BHK Flat for Rent in Anshul Casa, Wakad, PuneAnshul CasaFurnishingFurnishedBathroom2Tenant PreferredBachelors/FamilyAvailabilityImmediatelyCarpet Area789 sqftFloor2 out of 10facingNorth - EastSocietyAnshul CasaBathroom22 bhk apartment available for rent at Anshul Casa'

In [7]:
title = soup.find_all('h2',attrs ={'class':'mb-srp__card--title'})
for t in title:
    print(t.text)
len(title)

2 BHK Flat for Rent in Nandan Inspera, Wakad, Pune
2 BHK Flat for Rent in Olympia Pune, Wakad, Pune
2 BHK Flat for Rent in Nandan Inspera, Wakad, Pune
2 BHK Flat for Rent in Anshul Casa, Wakad, Pune
3 BHK Flat for Rent in Waghere Kalpataru Harmony, Wakad, Pune
2 BHK Flat for Rent in Lakshmi Ivana, Wakad, Pune
3 BHK Flat for Rent in Kalpataru Exquisite, Wakad, Pune
2 BHK Flat for Rent in Riddhi Siddhi Heights, Wakad, Pune
2 BHK Flat for Rent in Bhandari Latitude, Wakad, Pune
3 BHK Flat for Rent in Kalpataru Exquisite, Wakad, Pune
2 BHK Flat for Rent in Kalpataru Splendour, Wakad, Pune
3 BHK Flat for Rent in Fortune 108, Wakad, Pune
3 BHK Flat for Rent in Apostrophe, Wakad, Pune
3 BHK Flat for Rent in Aum Sanskruti Casa Imperia, Wakad, Pune
3 BHK Flat for Rent in Vilas Javdekar Yashwin Supernova, Wakad, Pune
2 BHK Flat for Rent in Vilas Javdekar Yashwin Supernova, Wakad, Pune
3 BHK Flat for Rent in Vilas Javdekar Yashwin Supernova, Wakad, Pune
2 BHK Flat for Rent in Mont Vert Seville, Wakad, Pune
2 BHK Flat for Rent in Suyog Space, Wakad, Pune
2 BHK Flat for Rent in HS Lagom Homes, Wakad, Pune
3 BHK Flat for Rent in Ruby Park, Wakad, Pune
2 BHK Flat for Rent in Vilas Javdekar Yashwin Encore, Wakad, Pune
3 BHK Flat for Rent in Pride Purple Park Titanium, Wakad, Pune
4 BHK Flat for Rent in Waman Kalate Rioland A Wing, Wakad, Pune
2 BHK Flat for Rent in Sai Ellouera, Wakad, Pune
3 BHK Flat for Rent in Sukhwani Skylines, Wakad, Pune
2 BHK Flat for Rent in Sheth Tiara, Wakad, Pune
3 BHK Flat for Rent in Kumar Piccadilly, Wakad, Pune
3 BHK Flat for Rent in Akshar Elementa, Wakad, Pune
3 BHK Flat for Rent in Pride Purple Park Titanium, Wakad, Pune

30

In [8]:
# Furnish = soup.find_all('div',attrs ={"class":"mb-srp__card__info mb-srp__card__info-withoutburger"})
Furnish = soup.find_all('div',attrs ={"class":"mb-srp__card__summary--value"})

for t in Furnish:
    print(t.text)

Semi-Furnished
2
Bachelors
Immediately
852 sqft
7 out of 12
East
Garden/Park, Main Road
Nandan Inspera
Co-operative Society
2
1
Unfurnished
2
Bachelors
Immediately
816 sqft
4 out of 11
East
Olympia Pune
2
2
Semi-Furnished
3
Family
Immediately
950 sqft
2 out of 12
East
Main Road
Nandan Inspera
3
2
Furnished
2
Bachelors/Family
Immediately
789 sqft
2 out of 10
North - East
Anshul Casa
2
Semi-Furnished
3
Family
Immediately
1188 sqft
7 out of 12
East
Waghere Kalpataru Harmony
3
2
Semi-Furnished
2
Family
Immediately
800 sqft
5 out of 12
East
Garden/Park
Lakshmi Ivana
2
2
Semi-Furnished
2
Family
Immediately
1050 sqft
4 out of 23
East
Pool, Garden/Park, Main Road
Kalpataru Exquisite
Freehold
2
1
Semi-Furnished
2
Family
Immediately
800 sqft
5 out of 12
East
Garden/Park
Riddhi Siddhi Heights
2
1
Semi-Furnished
2
Family
From Dec '25
940 sqft
2 out of 2
East
Garden/Park, Pool, Main Road
Bhandari Latitude
2
2
Semi-Furnished
2
Bachelors/Family
Immediately
1040 sqft
8 out of 23
North - East
Garden/Park, Pool, Main Road
Kalpataru Exquisite
2
2
Unfurnished
2
Family
Immediately
900 sqft
5 out of 11
East
Garden/Park, Main Road
Kalpataru Splendour
2
2
Furnished
3
Bachelors
Immediately
956 sqft
4 out of 7
East
Main Road, Garden/Park, Pool
Fortune 108
3
5
Semi-Furnished
3
Bachelors
Immediately
1250 sqft
6 out of 10
East
Garden/Park, Pool, Main Road
Apostrophe
Freehold
3
1
Semi-Furnished
2
Bachelors
Immediately
850 sqft
1 out of 14
Aum Sanskruti Casa Imperia
2
2
Semi-Furnished
3
Bachelors/Family
Immediately
982 sqft
11 out of 27
Vilas Javdekar Yashwin Supernova
3
Semi-Furnished
2
Bachelors
Immediately
890 sqft
23 out of 26
East
Garden/Park, Pool, Main Road
Vilas Javdekar Yashwin Supernova
Freehold
2
1
Semi-Furnished
3
Bachelors
Immediately
1010 sqft
8 out of 23
East
Pool, Garden/Park, Main Road
Vilas Javdekar Yashwin Supernova
Freehold
3
2
Unfurnished
2
Family
Immediately
680 sqft
1 out of 12
East
Garden/Park, Main Road
Mont Vert Seville
2
2
Furnished
2
Bachelors
Immediately
810 sqft
4 out of 12
East
Main Road
Suyog Space
2
2
Semi-Furnished
2
Bachelors
Immediately
835 sqft
15 out of 19
East
Garden/Park, Pool, Main Road
HS Lagom Homes
2
1
Furnished
3
Bachelors
Immediately
1326 sqft
7 out of 7
East
Garden/Park, Pool, Main Road
Ruby Park
3
1
Semi-Furnished
2
Bachelors
Immediately
700 sqft
6 out of 22
East
Garden/Park, Pool, Main Road
Vilas Javdekar Yashwin Encore
2
1
Furnished
2
Bachelors
Immediately
1269 sqft
4 out of 12
East
Garden/Park, Pool, Main Road
Pride Purple Park Titanium
2
1
Unfurnished
4
Bachelors
Immediately
2771 sqft
3 out of 7
South
Garden/Park, Main Road
Waman Kalate Rioland A Wing
4
3
Unfurnished
2
Bachelors/Family
Immediately
754 sqft
1 out of 11
Sai Ellouera
2
Semi-Furnished
3
Bachelors/Family
Immediately
1150 sqft
12 out of 15
East
Main Road
Sukhwani Skylines
3
2
Furnished
2
Bachelors/Family
Immediately
900 sqft
8 out of 13
East
Main Road
Sheth Tiara
2
1
Furnished
2
Bachelors
Immediately
1000 sqft
4 out of 12
East
Pool, Garden/Park, Main Road
Kumar Piccadilly
2
2
Furnished
3
Family
Immediately
1200 sqft
9 out of 13
East
Garden/Park
Akshar Elementa
3
3
Semi-Furnished
3
Family
Immediately
1620 sqft
5 out of 12
North
Garden/Park, Main Road
Pride Purple Park Titanium
3
2

### Correct code

In [41]:

url = 'https://www.magicbricks.com/property-for-rent/residential-real-estate?bedroom=&proptype=Multistorey-Apartment,Builder-Floor-Apartment,Penthouse,Studio-Apartment,Service-Apartment&Locality=Wakad&cityName=Pune'

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
}

response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.text, "html.parser")

cards = soup.find_all('div', class_='mb-srp__card')

with open('clean_real_estate_data.csv', 'w', newline='', encoding='utf-8') as f:
    writer = csv.writer(f)
    writer.writerow(['Title', 'Price_Rs', 'Furnishing', 'Bathrooms', 'Carpet_Area_sqft', 'Floor_No'])

    for card in cards:
        title = card.find('h2', class_='mb-srp__card--title')
        price = card.find('div', class_='mb-srp__card__price--amount')
        summary_items = card.find_all('div', class_='mb-srp__card__summary__list--item')

        furnish, bathroom, carpet_area, floor = '', '', '', ''

        for item in summary_items:
            data_summary = item.get('data-summary', '').strip()
            text_value = item.text.strip()

            if data_summary == 'furnishing':
                # extract actual Furnishing types only
                match = re.search(r'(Furnished|Semi-Furnished|Unfurnished)', text_value, re.IGNORECASE)
                furnish = match.group(1) if match else ''
            elif data_summary == 'bathroom':
                bathroom = re.sub(r'[^0-9]', '', text_value)
            elif data_summary == 'carpet-area':
                carpet_area = re.sub(r'[^0-9.]', '', text_value)
            elif data_summary == 'floor':
                match = re.search(r'(\d+)', text_value)
                floor = match.group(1) if match else ''

        # Clean title and price
        title = title.text.strip() if title else ''
        price = price.text.strip() if price else ''
        price = re.sub(r'[^0-9.]', '', price)

        writer.writerow([title, price, furnish, bathroom, carpet_area, floor])

print("✅ Clean data stored in 'clean_real_estate_data.csv' — ready for EDA.")

✅ Clean data stored in 'clean_real_estate_data.csv' — ready for EDA.

### Collected the data of pune -for multiple pages

In [42]:

# categories = ['Wakad','Kharadi','Hinjawadi','Wagholi','Baner','Hadapsar','Balewadi','Undri','NIBM Road','Viman Nagar']

categories = ['Wakad','Kharadi','Hinjawadi','Wagholi','Baner','Hadapsar','Balewadi','Kothrud','Magarpatta City','Viman Nagar']

locality_data = []
title_data = []
price_data = []
furnish_data = []
bath_data = []
carpet_data = []
floor_data = []

for locality in categories:
    
    url = f"https://www.magicbricks.com/property-for-rent/residential-real-estate?bedroom=&proptype=Multistorey-Apartment,Builder-Floor-Apartment,Penthouse,Studio-Apartment,Service-Apartment&Locality={locality.replace(' ','%20')}&cityName=Pune"
    
    headers = {
        "User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
    }
    
    response = requests.get(url, headers=headers)
    
    if response.status_code == 403:
        print("403 Error found")
        break
    
    print(response.status_code,"Scraping:",locality)
    soup = BeautifulSoup(response.text,'html.parser')
    
    cards = soup.find_all('div',class_='mb-srp__card')
    
    for card in cards:
        
        title = card.find('h2',class_='mb-srp__card--title')
        title_data.append(title.text.strip() if title else np.nan)
        
        price = card.find('div',class_='mb-srp__card__price--amount')
        price_val = price.text.strip() if price else np.nan
        price_val = re.sub(r'[^0-9.]','',price_val)
        price_data.append(price_val)
        
        summary_items = card.find_all('div',class_='mb-srp__card__summary__list--item')
        
        furnish = bath = carpet = floor = np.nan
        
        for s in summary_items:
            d = s.get('data-summary','').strip()
            t = s.text.strip()
            
            if d=='furnishing':
                m = re.search(r'(Furnished|Semi-Furnished|Unfurnished)',t,re.IGNORECASE)
                furnish = m.group(1) if m else np.nan
                
            elif d=='bathroom':
                bath = re.sub(r'[^0-9]','',t)
                
            elif d=='carpet-area':
                carpet = re.sub(r'[^0-9.]','',t)
                
            elif d=='floor':
                m = re.search(r'(\d+)',t)
                floor = m.group(1) if m else np.nan
        
        locality_data.append(locality)
        furnish_data.append(furnish)
        bath_data.append(bath)
        carpet_data.append(carpet)
        floor_data.append(floor)


df1 = pd.DataFrame({
    'Locality': locality_data,
    'Title': title_data,
    'Price_Rs': price_data,
    'Furnishing': furnish_data,
    'Bathrooms': bath_data,
    'Carpet_Area_sqft': carpet_data,
    'Floor_No': floor_data
})

df1.to_csv('clean_real_estate_multi_location1.csv',index=False,encoding='utf-8')
print("✅ All localities data saved")

200 Scraping: Wakad
200 Scraping: Kharadi
200 Scraping: Hinjawadi
200 Scraping: Wagholi
200 Scraping: Baner
200 Scraping: Hadapsar
200 Scraping: Balewadi
200 Scraping: Kothrud
200 Scraping: Magarpatta City
200 Scraping: Viman Nagar
✅ All localities data saved

In [43]:
df1

,Locality,Title,Price_Rs,Furnishing,Bathrooms,Carpet_Area_sqft,Floor_No
0,Wakad,"2 BHK Flat for Rent in Anshul Casa, Wakad, Pune",33000,Furnished,2,789,2
1,Wakad,"2 BHK Flat for Rent in Nandan Inspera, Wakad, ...",28000,Semi-Furnished,2,852,7
2,Wakad,"2 BHK Flat for Rent in Nandan Inspera, Wakad, ...",35000,Semi-Furnished,3,950,2
3,Wakad,"2 BHK Flat for Rent in Bhandari Latitude, Waka...",32000,Semi-Furnished,2,940,2
4,Wakad,"3 BHK Flat for Rent in Kalpataru Exquisite, Wa...",36000,Semi-Furnished,2,1040,8
...,...,...,...,...,...,...,...
295,Viman Nagar,"2 BHK Flat for Rent in Lunkad Amazon, Viman Na...",37000,Semi-Furnished,2,800,7
296,Viman Nagar,2 BHK Flat for Rent in Shree Rahde Camelot Hou...,45000,Furnished,2,1255,4
297,Viman Nagar,"2 BHK Flat for Rent in Ganga Nebula, Viman Nag...",65000,Unfurnished,2,1000,2
298,Viman Nagar,"2 BHK Flat for Rent in Camelot Royale, Viman N...",45000,Semi-Furnished,2,750,4
299,Viman Nagar,"3 BHK Flat for Rent in Lunkad Sky Vie, Viman N...",90000,Furnished,4,NaN,6

In [44]:
# import pandas as pd
# import numpy as np
# import re

# df = pd.read_csv("clean_real_estate_multi_location1.csv")

# # Clean title
# df['Title'] = df['Title'].astype(str).str.replace(r'\s+', ' ', regex=True).str.strip()

# # Extract fields
# df['BHK']           = df['Title'].str.extract(r'(\d+\s*(?:BHK|RK))', expand=False)
# df['Property_Type'] = df['Title'].str.extract(r'(?:\d+\s*(?:BHK|RK)\s*)(.*?)\s*for\b', expand=False)
# df['Listing_Type']  = df['Title'].str.extract(r'\bfor\s+([A-Za-z]+)', expand=False)

# soc_loc_city = df['Title'].str.extract(r'\bin\s*(.+?),\s*([^,]+),\s*([^,]+)\s*$', expand=True)
# df['Society']  = soc_loc_city[0]
# df['Locality'] = soc_loc_city[1]
# df['City']     = soc_loc_city[2]

# # Fix rows where society not found (only 2 parts)
# mask_missing_soc = df['Society'].isna()
# two_parts = df.loc[mask_missing_soc, 'Title'].str.extract(r'\bin\s*([^,]+),\s*([^,]+)\s*$')
# df.loc[mask_missing_soc, 'Locality'] = two_parts[0]
# df.loc[mask_missing_soc, 'City']     = two_parts[1]

# # Replace string 'nan' with NaN properly
# df = df.apply(lambda s: s.where(s.ne('nan'), np.nan))

# df.to_csv("clean_real_estate_multi_location_parsed.csv", index=False, encoding="utf-8")
# print("✅ Done! Columns extracted and saved.")

## Here seperated the columns from title

In [45]:
import pandas as pd
import numpy as np
import re

df1 = pd.read_csv("clean_real_estate_multi_location1.csv")

# Clean title
df1['Title'] = df1['Title'].astype(str).str.replace(r'\s+', ' ', regex=True).str.strip()

# Extract fields
df1['BHK'] = df1['Title'].str.extract(r'(\d+)\s*(?:BHK|RK)', expand=False)
df1['BHK'] = pd.to_numeric(df1['BHK'], errors='coerce').astype('Int64')

df1['Property_Type'] = df1['Title'].str.extract(r'(?:\d+\s*(?:BHK|RK)\s*)(.*?)\s*for\b', expand=False)
df1['Listing_Type']  = df1['Title'].str.extract(r'\bfor\s+([A-Za-z]+)', expand=False)

soc_loc_city = df1['Title'].str.extract(r'\bin\s*(.+?),\s*([^,]+),\s*([^,]+)\s*$', expand=True)
df1['Society']  = soc_loc_city[0]
df1['Locality'] = soc_loc_city[1]
df1['City']     = soc_loc_city[2]

# Fix rows where society not found (only 2 parts)
mask_missing_soc = df1['Society'].isna()
two_parts = df1.loc[mask_missing_soc, 'Title'].str.extract(r'\bin\s*([^,]+),\s*([^,]+)\s*$')
df1.loc[mask_missing_soc, 'Locality'] = two_parts[0]
df1.loc[mask_missing_soc, 'City']     = two_parts[1]

# Replace string 'nan' with NaN properly
df1 = df1.apply(lambda s: s.where(s.ne('nan'), np.nan))

df1.to_csv("clean_real_estate_multi_location_parsed.csv", index=False, encoding="utf-8")
print("✅ Done! BHK cleaned and saved.")

✅ Done! BHK cleaned and saved.

In [46]:
df1

,Locality,Title,Price_Rs,Furnishing,Bathrooms,Carpet_Area_sqft,Floor_No,BHK,Property_Type,Listing_Type,Society,City
0,Wakad,"2 BHK Flat for Rent in Anshul Casa, Wakad, Pune",33000.0,Furnished,2,789.0,2.0,2,Flat,Rent,Anshul Casa,Pune
1,Wakad,"2 BHK Flat for Rent in Nandan Inspera, Wakad, ...",28000.0,Semi-Furnished,2,852.0,7.0,2,Flat,Rent,Nandan Inspera,Pune
2,Wakad,"2 BHK Flat for Rent in Nandan Inspera, Wakad, ...",35000.0,Semi-Furnished,3,950.0,2.0,2,Flat,Rent,Nandan Inspera,Pune
3,Wakad,"2 BHK Flat for Rent in Bhandari Latitude, Waka...",32000.0,Semi-Furnished,2,940.0,2.0,2,Flat,Rent,Bhandari Latitude,Pune
4,Wakad,"3 BHK Flat for Rent in Kalpataru Exquisite, Wa...",36000.0,Semi-Furnished,2,1040.0,8.0,3,Flat,Rent,Kalpataru Exquisite,Pune
...,...,...,...,...,...,...,...,...,...,...,...,...
295,Viman Nagar Central,"2 BHK Flat for Rent in Lunkad Amazon, Viman Na...",37000.0,Semi-Furnished,2,800.0,7.0,2,Flat,Rent,Lunkad Amazon,Pune
296,Viman Nagar Central,2 BHK Flat for Rent in Shree Rahde Camelot Hou...,45000.0,Furnished,2,1255.0,4.0,2,Flat,Rent,Shree Rahde Camelot Housing Society,Pune
297,Viman Nagar Central,"2 BHK Flat for Rent in Ganga Nebula, Viman Nag...",65000.0,Unfurnished,2,1000.0,2.0,2,Flat,Rent,Ganga Nebula,Pune
298,Viman Nagar Central,"2 BHK Flat for Rent in Camelot Royale, Viman N...",45000.0,Semi-Furnished,2,750.0,4.0,2,Flat,Rent,Camelot Royale,Pune
299,Viman Nagar Central,"3 BHK Flat for Rent in Lunkad Sky Vie, Viman N...",90000.0,Furnished,4,NaN,6.0,3,Flat,Rent,Lunkad Sky Vie,Pune

### collecting the data for Nashik

In [47]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re

# Nashik Areas
categories = [
    'Indira Nagar','Nashik Road','Gangapur Road','Dwarka','Ambad',
    'College Road','Govind Nagar','Pathardi Phata','Cidco','Panchavati'
]

locality_data = []
title_data = []
price_data = []
furnish_data = []
bath_data = []
carpet_data = []
floor_data = []

for locality in categories:
    
    url = f"https://www.magicbricks.com/property-for-rent/residential-real-estate?bedroom=&proptype=Multistorey-Apartment,Builder-Floor-Apartment,Penthouse,Studio-Apartment,Service-Apartment&Locality={locality.replace(' ','%20')}&cityName=Nashik"
    
    headers = {
        "User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
    }
    
    response = requests.get(url, headers=headers)
    
    if response.status_code == 403:
        print("403 Error found")
        break
    
    print(response.status_code,"Scraping:",locality)
    soup = BeautifulSoup(response.text,'html.parser')
    
    cards = soup.find_all('div',class_='mb-srp__card')
    
    for card in cards:
        
        title = card.find('h2',class_='mb-srp__card--title')
        title_data.append(title.text.strip() if title else np.nan)
        
        price = card.find('div',class_='mb-srp__card__price--amount')
        price_val = price.text.strip() if price else np.nan
        price_val = re.sub(r'[^0-9.]','',price_val)
        price_data.append(price_val)
        
        summary_items = card.find_all('div',class_='mb-srp__card__summary__list--item')
        
        furnish = bath = carpet = floor = np.nan
        
        for s in summary_items:
            d = s.get('data-summary','').strip()
            t = s.text.strip()
            
            if d=='furnishing':
                m = re.search(r'(Furnished|Semi-Furnished|Unfurnished)',t,re.IGNORECASE)
                furnish = m.group(1) if m else np.nan
                
            elif d=='bathroom':
                bath = re.sub(r'[^0-9]','',t)
                
            elif d=='carpet-area':
                carpet = re.sub(r'[^0-9.]','',t)
                
            elif d=='floor':
                m = re.search(r'(\d+)',t)
                floor = m.group(1) if m else np.nan
        
        locality_data.append(locality)
        furnish_data.append(furnish)
        bath_data.append(bath)
        carpet_data.append(carpet)
        floor_data.append(floor)


df = pd.DataFrame({
    'Locality': locality_data,
    'Title': title_data,
    'Price_Rs': price_data,
    'Furnishing': furnish_data,
    'Bathrooms': bath_data,
    'Carpet_Area_sqft': carpet_data,
    'Floor_No': floor_data
})

df.to_csv('clean_real_estate_nashik.csv',index=False,encoding='utf-8')
print("✅ All Nashik localities data saved")

200 Scraping: Indira Nagar
200 Scraping: Nashik Road
200 Scraping: Gangapur Road
200 Scraping: Dwarka
200 Scraping: Ambad
200 Scraping: College Road
200 Scraping: Govind Nagar
200 Scraping: Pathardi Phata
200 Scraping: Cidco
200 Scraping: Panchavati
✅ All Nashik localities data saved

In [48]:
df

,Locality,Title,Price_Rs,Furnishing,Bathrooms,Carpet_Area_sqft,Floor_No
0,Indira Nagar,"2 BHK Flat for Rent in vascon vista phase 1, I...",22750,Semi-Furnished,2,NaN,7
1,Indira Nagar,"3 BHK Flat for Rent in Indira Nagar, Nashik",28000,Furnished,2,1450,5
2,Indira Nagar,"2 BHK Flat for Rent in Indira Nagar, Nashik",15000,Semi-Furnished,2,1000,1
3,Indira Nagar,"2 BHK Flat for Rent in Indira Nagar, Nashik",11500,Unfurnished,2,NaN,1
4,Indira Nagar,"3 BHK Flat for Rent in Gajra Anmol Apartment, ...",28000,Semi-Furnished,2,NaN,5
...,...,...,...,...,...,...,...
343,Panchavati,3 BHK Flat for Rent in Jaikumar Parksyde Homes...,20000,Furnished,3,NaN,6
344,Panchavati,"2 BHK Flat for Rent in Nayantara Presidency, M...",16000,Unfurnished,2,780,4
345,Panchavati,3 BHK Flat for Rent in Jaikumar Parksyde Homes...,18500,Unfurnished,3,900,6
346,Panchavati,"2 BHK Flat for Rent in Perfect Green Mind, Dwa...",30000,Furnished,2,750,5
347,Panchavati,"2 BHK Flat for Rent in Parksyde Nest, Panchvat...",13000,Unfurnished,2,980,6

### Extracted the columns of Title in nashik

In [49]:

# 1) Load Nashik scraped csv
df = pd.read_csv("clean_real_estate_nashik.csv")

# 2) Clean title
df['Title'] = df['Title'].astype(str).str.replace(r'\s+', ' ', regex=True).str.strip()

# 3) Extract BHK number only
df['BHK'] = df['Title'].str.extract(r'(\d+)\s*(?:BHK|RK)', expand=False).astype('Int64')

# 4) Extract Property type (Flat / Studio Apartment etc.)
df['Property_Type'] = df['Title'].str.extract(r'(?:\d+\s*(?:BHK|RK)\s*)(.*?)\s*for', expand=False)

# 5) Extract listing type (Rent or Sale)
df['Listing_Type']  = df['Title'].str.extract(r'\bfor\s+([A-Za-z]+)', expand=False)

# 6) Extract everything after "in "
df['location_part'] = df['Title'].str.extract(r'\bin\s*(.*)', expand=False)

# 7) City = last part
df['City'] = df['location_part'].str.split(',').str[-1].str.strip()

# 8) Locality = second last part
df['Locality'] = df['location_part'].str.split(',').str[-2].str.strip()

# 9) Society = everything before last two comma parts
df['Society'] = df['location_part'].apply(
    lambda x: ','.join(x.split(',')[:-2]).strip() if isinstance(x, str) and x.count(',') >= 2 else np.nan
)

# 10) Convert numeric columns
df['Price_Rs'] = pd.to_numeric(df['Price_Rs'], errors='coerce')
df['Bathrooms'] = pd.to_numeric(df['Bathrooms'], errors='coerce').astype('Int64')
df['Carpet_Area_sqft'] = pd.to_numeric(df['Carpet_Area_sqft'], errors='coerce').astype('Int64')
df['Floor_No'] = pd.to_numeric(df['Floor_No'], errors='coerce').astype('Int64')

# 11) Remove helper column
df = df.drop(columns=['location_part'])

# 12) Save
df.to_csv("clean_real_estate_nashik_parsed.csv", index=False)
print("✅ Nashik cleaned & extracted successfully!")

✅ Nashik cleaned & extracted successfully!

In [50]:
df

,Locality,Title,Price_Rs,Furnishing,Bathrooms,Carpet_Area_sqft,Floor_No,BHK,Property_Type,Listing_Type,City,Society
0,Indira Nagar,"2 BHK Flat for Rent in vascon vista phase 1, I...",22750.0,Semi-Furnished,2,<NA>,7,2,Flat,Rent,Nashik,vascon vista phase 1
1,Indira Nagar,"3 BHK Flat for Rent in Indira Nagar, Nashik",28000.0,Furnished,2,1450,5,3,Flat,Rent,Nashik,NaN
2,Indira Nagar,"2 BHK Flat for Rent in Indira Nagar, Nashik",15000.0,Semi-Furnished,2,1000,1,2,Flat,Rent,Nashik,NaN
3,Indira Nagar,"2 BHK Flat for Rent in Indira Nagar, Nashik",11500.0,Unfurnished,2,<NA>,1,2,Flat,Rent,Nashik,NaN
4,Indira Nagar,"3 BHK Flat for Rent in Gajra Anmol Apartment, ...",28000.0,Semi-Furnished,2,<NA>,5,3,Flat,Rent,Nashik,Gajra Anmol Apartment
...,...,...,...,...,...,...,...,...,...,...,...,...
343,Jaikumar Parksyde Homes,3 BHK Flat for Rent in Jaikumar Parksyde Homes...,20000.0,Furnished,3,<NA>,6,3,Flat,Rent,Panchvati Nashik,NaN
344,Nayantara Presidency,"2 BHK Flat for Rent in Nayantara Presidency, M...",16000.0,Unfurnished,2,780,4,2,Flat,Rent,Mumbai Agra National Highway Nashik,NaN
345,Jaikumar Parksyde Homes,3 BHK Flat for Rent in Jaikumar Parksyde Homes...,18500.0,Unfurnished,3,900,6,3,Flat,Rent,Panchvati Nashik,NaN
346,Perfect Green Mind,"2 BHK Flat for Rent in Perfect Green Mind, Dwa...",30000.0,Furnished,2,750,5,2,Flat,Rent,Dwarka Nashik,NaN
347,Parksyde Nest,"2 BHK Flat for Rent in Parksyde Nest, Panchvat...",13000.0,Unfurnished,2,980,6,2,Flat,Rent,Panchvati Nashik,NaN

### Combining the both tables

In [4]:
pune = pd.read_csv("Pune_Rental_Flate.csv")
nashik = pd.read_csv("Nashik_Rental_Flate.csv")

In [5]:
combined = pd.concat([pune, nashik], ignore_index=True)

In [6]:
combined.to_csv("pune_nashik_combined.csv", index=False)
print("✅ Combined file saved: pune_nashik_combined.csv")

✅ Combined file saved: pune_nashik_combined.csv

In [ ]:
df['Price_per_sqft'] = df['Price_Rs'] / df['Carpet_Area_sqft']
df['Price_per_sqft'] = df['Price_per_sqft'].round(2)

In [ ]:
df.to_csv("pune_nashik_combined.csv", index=False)

### EDA

In [ ]:
df.to_csv("pune_nashik_combined.csv", index=False)